<form ref="updateForm" id="updateForm" method="post" style="margin: 0px 30px;">
	<h2>更新卡片</h2>
    <br />
	<p>红蓝卡包的蓝色项目</p>
    <input style="width: 80%;" type='text' name='blueItem' placeholder='红蓝卡包的蓝色项目'/>
    <br />
    <br />
    <p>红蓝红包的红色项目</p>
    <input style="width: 80%;" type='text' name='redItem' placeholder='红蓝卡包的红色项目'/>
    <br />
    <br />
    <p>分析</p>
    <input style="width: 80%;" type='text' name='analysis' placeholder='分析'/>
    <br />
    <br />
    <p>正确项</p>
	<p>1 代表 真题表述是对的 或者 红蓝题蓝色项正确</p>
	<p>2 代表 真题表述是错的 或者 红蓝题红色项正确</p>    
    <input style="width: 80%;" type='text' name='rightItem' placeholder='1代表真题表述正确，或者红蓝卡包中蓝色项正确'/>
    <br />
    <br />
    <p>红蓝卡包需要替换的前半段表述</p>
    <input style="width: 80%;" type='text' name='firstLine' placeholder='红蓝卡包的前半段表述'/>
    <br />
    <br />
    <p>红蓝卡包需要替换的后半段表述</p>
    <input style="width: 80%;" type='text' name='lastLine' placeholder='红蓝卡包的后半段表述'/>    
    <br />
    <br />
    <p>真题题面</p>
    <input style="width: 80%;" type='text' name='expression' placeholder='真题特有，真题的题面'/>
    <br />
    <br />
    <p>真题年份</p>
    <input style="width: 80%;" type='number' name='yearNumber' placeholder='真题特有，真题的年份'/>
    <br />
    <br />
    <p>真题卷号</p>
    <input style="width: 80%;" type='text' name='reelNumber' placeholder='真题特有，真题的卷号'/>
    <br />
    <br />
    <p>真题题目号</p>
    <input style="width: 80%;" type='number' name='questionNumber' placeholder='真题特有，真题的题目号'/>
    <br />
    <br />
    <input type='submit' value='更新'>
    <br />
    <br />   
    <br />
</form>