		<div id="hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-6 col-xs-12 v-center">
							<img src="img/screen.png" class="screen_shot" />
						</div>
						<div class="col-md-6 col-xs-12 v-center">
							<div>
								<div class="logo_section">
									<img src="img/cute_logo.png" class="logo" />
									<p>记忆小卡片</p>
								</div>
								<h1>让所有记忆类考试<div>都跪下！</div></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="cartoon">
			
		</div>
		<div id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-6 col-xs-12">
							<div class="features_icon">
								<img src="img/card.png" class="feature_icon" />
							</div>
							<h2>精心预制了基<br/>础知识卡片包</h2>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="features_icon">
								<img src="img/plan.png" class="feature_icon" />
							</div>
							<h2>根据个人情况科<br/>学定制复习计划</h2>
						</div>
					</div>
					<div class="col-md-12 col-xs-12">
						<h3>近期上线</h3>
						<div class="col-md-6 col-xs-12">
							<div class="features_icon">
								<img src="img/talk.png" class="feature_icon" />
							</div>
							<h2>伴读书童模式<div>真人发音朗读卡片内容</div><div>直白口语回答会与不会</div></h2>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="features_icon">
								<img src="img/game.png" class="feature_icon" />
							</div>
							<h2>丰富的游戏化体验<div>排位模式</div><div>生存模式</div></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="QA">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<h2>Q&A</h2>
						<div class="col-md-4 cols-xs-12 qa-question">
							<h3>小卡片适合什么阶段使用？</h3>
							<p>对于第一次参加考试的考生而言，小卡片适合听过一遍基础知识课程后开始着手；对于法学二三年级本科学生以及有过法考经验的考生来说，越早用效果越好。</p>
						</div>
						<div class="col-md-4 cols-xs-12 qa-question">
							<h3>小卡片中的真题卡片包和其他做真题App的一样吗？</h3>
							<p>小卡片真题卡片将真题的每一个选项改造成一个简单判断题，能让你每张卡片专注到一个知识点上，而非同时去看四个知识点，且不产生做多了就记住选项的问题。</p>
						</div>
						<div class="col-md-4 cols-xs-12 qa-question">
							<h3>我还有更多关于小卡片的问题，哪里能最快得到回应？</h3>
							<p>可以扫描网页下方公众号法考小卡片，或者在小程序中首页点击右上角的联系客服，都可以在第一时间得到答复。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<h2>联系我们</h2>
					</div>
				</div>
			</div>
		</div>